name: Continuous Integration
on: [push]
jobs:
  continuous-integration:
    runs-on: windows-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install dependencies
        uses: yarn install
